.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
}

.main-nav > .left-column > .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
}

.main-nav > .left-column > .logo img {
    height: 100px;
    width: 100%;
    float: left;
}

.main-nav > .right-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav > .right-column > .nav-link {
    text-align: center;
}

.background img {
    height: fit-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
